1 VERSIONINFO
FILEVERSION 4,1,0,0
FILETYPE 0x00000001
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "FileDescription", "m0d_s0beit_SA"
			 VALUE "CompanyName", "MTAVcSuX.NeT"
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0409, 1252
	 }
}
